name: CI
on: [push]

jobs:
  node_docker:
    runs-on: ubuntu-latest
    name: Test Job
    container:
      image: node:14.18
      steps:
        - run: npm install
        - run: npm run test
    - run: echo "Opa bom demais"
